header{
    top: 0;
    left:0;
    height: 100px;
    width: 100%;
    background: #000;
    color: #fff;
    font-family: sans-serif;
    font-size:20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

body{
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    line-height: 1.5em;
}

.container-1 img{
    max-width: 300x ;
    max-height: 300px ;
}

.container-2 img{
    max-width: 200x ;
    max-height: 200px ;
}

.container-1 h2{
    margin-top: 0;
}

.container-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    column-gap: 2%;
}

.container-2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 100px;
    column-gap: 2%;
    color: #969696;
}

.box-1{
    grid-column: 2/3;
}
.box-2{
    grid-column: 3/4;
}
.box-3{
    grid-column: 2/3;
}
.box-4{
    grid-column: 3/4;
}
.box-5{
    grid-column: 4/5;
}
.box-6{
    grid-column: 5/6;
}

